/*
Coded by Ian Griffin and Lulu Johnson
Copyright 2019
Pratt Insitute
*/

html, body {
    width: 100%;
  height: 100%;
  margin: 0;
    display: flex;
    flex-flow:row nowrap;
    background: #000;

}

@font-face {
    font-family: "Ahamono";
}

@font-face {
    font-family: "Junicode-Regularcondensed";
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.fullheight {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.fullheight {
		height: 1024px;
	}
}

h1 {
    font-family: 'Junicode-Regularcondensed';
    color: white;
    font-weight: 100;
    margin-left: -2px;
    line-height: 20px;
    margin-top: 12%;
    margin-bottom: -8px;
    font-size: 20px;
    
}

h2 {
    font-family: 'Ahamono';
    color: white;
    font-weight:100;
    font-size: 16px;;
    margin-left: -2px;
    margin-bottom: 0px;
}

hr.vertical {
  width: 0px;
  height: 75%;
    color: white;
    position: absolute;
    left: 50%;
    top: 15%;

  /* or height in PX */
}

#marker{
    margin-left: 50%;
    border: 3px red;
    width: 40vw;
    height: 100px;
}

#frame{
    height: 768px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: auto 0;
    width: 50vw;
    position: absolute;
    top: 0;
    padding-left: 0px;
}

#frame2{
    height: 768px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: auto 0;
    width: 50vw;
    position: absolute;
    top: 0;
    padding-left: 0px;
    margin-left: 50%;
    
}

#gallery{
    width:100%;
    position: relative;
    height: 768px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: left;
    margin: 0 auto;
    overflow: auto;
    }

::-webkit-scrollbar { 
    color: white; 
    }
p{
    margin:1em;
    color: #fff;
    opacity: .5;
    font-family: monospace
    }

.image{
    width:50px;
    height: 768px;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    transition: .25s ease-out;
}
.image:hover {
    width: 100%;
}


figure{
    margin:0 auto;
     width:500px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 768px;
    padding-top: 0px;
    transition:.25s ease-out;
    
}

img{
    margin:0 auto;
    width:auto;
    flex-shrink: 0;
    max-height: 768px;
    object-fit: cover;
}
